<div class="container bg-light rounded py-3">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <h3>重置密碼</h3>
    <div class="row">
      <div class="mb-1 col col-12 col-md-6 col-lg-3">
        <label for="password">輸入密碼</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        />
        <span
          *ngIf="!form.get('password').valid && form.get('password').touched"
          class="help-block text-danger"
          >{{ getPasswordError() }}</span
        >
      </div>
      <div class="mb-1 col col-12 col-md-6 col-lg-3">
        <label for="password2">再次確認</label>
        <input
          type="password"
          class="form-control"
          id="password2"
          formControlName="password2"
        />
        <span
          *ngIf="!form.get('password2').valid && form.get('password2').touched"
          class="help-block text-danger"
          >{{ getPassword2Error() }}</span
        >
      </div>
    </div>
    <div class="row mt-3 justify-content-center">
      <div class="col col-auto px-2">
        <button type="submit" class="btn btn-primary">確定</button>
      </div>
      <div class="col col-auto px-2">
        <button type="button" class="btn btn-light" [routerLink]="['../']">
          取消
        </button>
      </div>
      <span *ngIf="resultText" class="help-block text-danger">{{
        resultText
      }}</span>
    </div>
  </form>
  <app-modal [showModal]="showAlert" (okClick)="closeAlert()"
    ><p class="h4">重置密碼成功</p></app-modal
  >
</div>
