@mixin dangerous {
  border: 1px solid red;
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 68, 68, 0.521);
  }
}

input,
select {
  &.ng-invalid.ng-touched {
    @include dangerous;
  }
}

.has-submitted {
  input,
  select {
    &.ng-invalid {
      @include dangerous;
    }
  }
}
label {
  position: relative;
}
.app-tooltip {
  display: none;
}
label:hover .app-tooltip {
  display: block;
  position: absolute;
  left: 105%;
  bottom: 0;
  width: 200px;
  background-color: #333333;
  color: white;
  z-index: 12;
}
