<div class="container py-3">
  <h2 class="h3">新增帳號</h2>
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="form"
    autocomplete="off"
    [ngClass]="{ 'has-submitted': hasSubmitted }"
  >
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mb-3">
      <div class="col">
        <label for="account" class="form-label"
          ><span class="text-danger">*</span>帳號</label
        >
        <input
          type="text"
          class="form-control"
          id="account"
          formControlName="account"
        />
        <span *ngIf="isShowHelp('account')" class="help-block text-danger">
          {{ getAccountError() }}
        </span>
      </div>
      <div class="col">
        <label for="password" class="form-label"
          ><span class="text-danger">*</span>密碼<small class="app-tooltip"
            >『大寫英文』、『小寫英文』、『數字』與『特殊符號』其中三種、6字元(含)以上，才算合法密碼</small
          ></label
        >
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        />
        <span *ngIf="isShowHelp('password')" class="help-block text-danger">{{
          getPasswordError()
        }}</span>
      </div>
      <div class="col">
        <label for="name" class="form-label"
          ><span class="text-danger">*</span>姓名</label
        >
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
        />
        <span *ngIf="isShowHelp('name')" class="help-block text-danger">{{
          HELP_TEXT
        }}</span>
      </div>
      <div class="col">
        <label for="status" class="form-label"
          ><span class="text-danger">*</span>狀態</label
        >
        <select
          class="form-control"
          name="status"
          id="status"
          formControlName="status"
        >
          <option value="" selected="selected" disabled>請選擇</option>
          <option value="Y">啟用</option>
          <option value="N">停用</option>
          <option value="D">已註銷</option>
        </select>
        <span *ngIf="isShowHelp('status')" class="help-block text-danger">{{
          HELP_TEXT
        }}</span>
      </div>
      <div class="col">
        <label for="email" class="form-label">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          formControlName="email"
        />
        <span *ngIf="isShowHelp('email')" class="help-block text-danger">{{
          getEmailError()
        }}</span>
      </div>

      <div class="col">
        <label for="contact-phone" class="form-label">聯絡電話</label>
        <input
          type="tel"
          pattern="[0-9]{10}"
          class="form-control"
          id="contact-phone"
          formControlName="contactMobileTel"
        />
      </div>
      <div class="col">
        <label for="card-no" class="form-label">卡號</label>
        <input
          type="text"
          class="form-control"
          id="card-no"
          formControlName="cardNo"
        />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="ml-3">
        <span>{{ this.resultText }}</span>
        <button type="submit" class="btn btn-primary">提交</button>
      </div>
      <div class="ml-3">
        <button (click)="onGoBack()" type="button" class="btn btn-light">
          返回
        </button>
      </div>
    </div>
  </form>
  <app-modal [showModal]="showModal" (okClick)="modalOkCallback()">
    <h2>帳號新增成功!</h2>
    <small>點擊返回人員列表</small>
  </app-modal>
</div>
