<div class="card">
  <div class="card-image">
    <figure class="image is-256x256">
      <img class="" [src]="article.urlToImage" alt="Placeholder image" />
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{ article.title }}</p>
        <a class="subtitle is-6">{{ article.author }}</a>
        <a class="ml-3">{{ article.publishedAt | fromNow }}</a>
      </div>
    </div>
    <div class="content">
      {{ article.content }}
      <br />
    </div>
  </div>
  <nav class="level">
    <p class="level-item has-text-centered buttons box">
      <button
        class="button bd-fat-button is-primary is-light bd-pagination-prev"
        (click)="onPreviousArticle()"
        [disabled]="articleIndex === 0"
      >
        <i>←</i>
        <span>Prev</span>
      </button>
      <a class="button is-primary" target="_blank" [href]="article.url"
        >Article Link</a
      >
      <button
        class="button bd-fat-button is-primary is-light bd-pagination-next"
        (click)="onNextArticle()"
        [disabled]="articleIndex === totalLength - 1"
      >
        <span>Next</span>
        <i>→</i>
      </button>
    </p>
  </nav>
</div>
