<div class="card">
  <div class="card-image">
    <figure class="image is-256x256">
      <img class=""
        src="https://cdn.cnn.com/cnnnext/dam/assets/210119172339-01-capitol-riot-wide-ground-shot-0106-super-tease.jpg"
        alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">New charges allege Proud Boys prepped for Capitol insurrection - CNN</p>
        <a class="subtitle is-6">Evan Perez, Katelyn Polantz and Mallory Simon, CNN</a> <a class="ml-3">4
          hours
          ago</a>
      </div>
    </div>
    <div class="content">
      Two prominent affiliates of the Proud Boys face new conspiracy charges related to the US Capitol riot,
      and
      another was arrested Wednesday, as the Justice Department laid out a planning and funding effort within
      the
      far-right extremist group in a major court d…
      <br />
    </div>
  </div>
  <nav class="level">
    <p class="level-item has-text-centered">
      <a class="button bd-fat-button is-primary is-light bd-pagination-prev">
        <i>←</i>
        <span>Prev</span>
      </a>
      <a class="button is-primary" target="_blank">Article Link</a>
      <a class="button bd-fat-button is-primary is-light bd-pagination-next">
        <span>Next</span>
        <i>→</i>
      </a>
    </p>
  </nav>
</div>
