<div class="panel">
  <p class="panel-heading">News List</p>
  <div class="panel-block">
    <p class="control has-icons-left">
      <input
        class="input"
        type="text"
        placeholder="Keyword"
        (input)="onInputText($event)"
        #searchInput
      />
      <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>
  <div
    class="panel-block has-background-primary"
    *ngFor="let article of articles; let i = index"
    (click)="onArticleClick(i)"
  >
    <div
      class="columns list-item"
      [ngClass]="{ 'app-highlight': i === currentIndex }"
    >
      <div class="column is-4">
        <figure class="img is-3by2">
          <img [src]="article.urlToImage" loading="lazy" />
        </figure>
      </div>
      <div class="column is-8 has-text-white-bis">
        {{ article.title }}
      </div>
    </div>
  </div>
</div>
