<div class="panel " style="height:880px; overflow-y: auto;">
  <p class="panel-heading">
    News List
  </p>
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input" type="text" placeholder="Keyword">
      <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>
  <div class="panel-block has-background-primary">
    <div class="columns">
      <div class="column is-4">
        <figure style="width:128px;">
          <img
            src="https://cdn.cnn.com/cnnnext/dam/assets/210119172339-01-capitol-riot-wide-ground-shot-0106-super-tease.jpg" />
        </figure>
      </div>
      <div class="column is-8 has-text-white-bis">
        New charges allege Proud Boys prepped for Capitol insurrection - CNN
      </div>
    </div>
  </div>
  <div class="panel-block">
    <div class="columns">
      <div class="column is-4">
        <figure style="width:128px;">
          <img
            src="https://ichef.bbci.co.uk/news/1024/branded_news/37AA/production/_116805241_gettyimages-1291715271-3.jpg" />
        </figure>
      </div>
      <div class="column is-8">
        New charges allege Proud Boys prepped for Capitol insurrection - CNN
      </div>
    </div>
  </div>
  <div class="panel-block">
    <div class="columns">
      <div class="column is-4">
        <figure style="width:128px;">
          <img
            src="https://cdn.cnn.com/cnnnext/dam/assets/210119172339-01-capitol-riot-wide-ground-shot-0106-super-tease.jpg" />
        </figure>
      </div>
      <div class="column is-8">
        Covid trial in UK examines mixing different vaccines - BBC News
      </div>
    </div>
  </div>
  <div class="panel-block">
    <div class="columns">
      <div class="column is-4">
        <figure style="width:128px;">
          <img src="https://static.politico.com/b3/38/e5aeb3d1480992b7a246e9a371d2/gettyimages-1161024889.jpg" />
        </figure>
      </div>
      <div class="column is-8">
        'The Democratic version of John McCain' - POLITICO
      </div>
    </div>
  </div>
  <div class="panel-block">
    <div class="columns">
      <div class="column is-4">
        <figure style="width:128px;">
          <img
            src="https://cbsnews1.cbsistatic.com/hub/i/r/2021/02/06/af58f477-e676-4d62-b593-c6aace8fdf1f/thumbnail/1200x630/5faf3a9afdcdaa956a77c0c97e079a36/gettyimages-1300510732.jpg" />
        </figure>
      </div>
      <div class="column is-8">
        More COVID-19 vaccine megasites open nationwide, including at Yankee Stadium - CBS News
      </div>
    </div>
  </div>
  <div class="panel-block">
    <div class="columns">
      <div class="column is-4">
        <figure style="width:128px;">
          <img src="" />
        </figure>
      </div>
      <div class="column is-8">
        California’s governor, once praised, faces backlash over pandemic response - The Guardian
      </div>
    </div>
  </div>
  <div class="panel-block">
    <div class="columns">
      <div class="column is-4">
        <figure style="width:128px;">
          <img
            src="https://static.www.nfl.com/image/private/t_editorial_landscape_12_desktop/league/in391kdpqoufxz2pywvd" />
        </figure>
      </div>
      <div class="column is-8">
        Chiefs QB Patrick Mahomes expected to have toe surgery following season - NFL.com
      </div>
    </div>
  </div>
  <div class="panel-block">
    <div class="columns">
      <div class="column is-4">
        <figure style="width:128px;">
          <img src="https://images.wsj.net/im-296044/social" />
        </figure>
      </div>
      <div class="column is-8">
        As Vaccines Raise Hope, Cold Reality Dawns: Covid-19 Is Likely Here to Stay - The Wall Street Journal
      </div>
    </div>
  </div>
  <div class="panel-block">
    <div class="columns">
      <div class="column is-4">
        <figure style="width:128px;">
          <img
            src="https://media.npr.org/assets/img/2021/02/05/gettyimages-1199162702_wide-d5ae5518cf9740c8aef29a34f32f185bb5f34b52.jpg?s=1400" />
        </figure>
      </div>
      <div class="column is-8">
        Dear Dr. Li: Chinese Netizens Confess To The Late Coronavirus Whistleblower - NPR
      </div>
    </div>
  </div>
  <div class="panel-block">
    <div class="columns">
      <div class="column is-4">
        <figure style="width:128px;">
          <img
            src="https://static01.nyt.com/images/2021/02/05/business/00gamestop-losses-chalfant-02/00gamestop-losses-chalfant-02-facebookJumbo.jpg" />
        </figure>
      </div>
      <div class="column is-8">
        The Hopes That Rose and Fell With GameStop - The New York Times
      </div>
    </div>
  </div>
</div>
