<section name="main">
  <section>
    <div class="tabs is-centered is-boxed is-medium">
      <ul>
        <li *ngFor="let category of categories" routerLinkActive="is-active">
          <a [routerLink]="['/pages', 'news', category.toLowerCase()]">
            <span>{{ category | titlecase }}</span>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section>
    <div class="container is-fluid columns">
      <div class="column is-5">
        <section name="news-list">
          <app-news-list [articles]="articles"></app-news-list>
        </section>
      </div>
      <div class="column is-7">
        <section name="news-content">
          <app-news-content></app-news-content>
        </section>
      </div>
    </div>
  </section>
</section>
