<section name="main">
  <section>
    <div class="tabs is-centered is-boxed is-medium">
      <ul>
        <li class="is-active">
          <a>
            <span>Business</span>
          </a>
        </li>
        <li>
          <a>
            <span>Entertainment</span>
          </a>
        </li>
        <li>
          <a>
            <span>General</span>
          </a>
        </li>
        <li>
          <a>
            <span>Health</span>
          </a>
        </li>
        <li>
          <a>
            <span>Science</span>
          </a>
        </li>
        <li>
          <a>
            <span>Sports</span>
          </a>
        </li>
        <li>
          <a>
            <span>Technology</span>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section>
    <div class="container is-fluid  columns">
      <div class="column is-4">
        <section name="news-list">
          <app-news-list></app-news-list>
        </section>
      </div>
      <div class="column is-8">
        <section name="news-content">
          <app-news-content></app-news-content>
        </section>
      </div>
    </div>
  </section>
</section>
